<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject</title>
    <style>
        header{
            text-align: center;
            padding-bottom: 10px;
        }
        table, th,td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        th, td{
            padding: 10px;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 8px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>Subject Data</h1>
        <a href="subjects/add"><input type="submit" value="add subject" /></a>
    </header>
    <main>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th colspan="2">Option</th>
                </tr>
            </thead>
            <tbody>
                <% subjectData.forEach(function(datasubject) { %>
                <tr>
                    <td><%= datasubject.subject_name %></td>
                    <td><a href="subjects/edit/<%= datasubject.id %>">Edit</a></td>
                    <td><button onclick="deleted(<%= datasubject.id %>)">Delete</button></td>
                </tr>
                <%  }) %>
            </tbody>
        </table>
    </main>
    <script type="text/javascript">
        function deleted(id) {
          let confirm = window.confirm("Delete this subject?");
          if (confirm) {
            document.location.href = `/subjects/delete/${id}`
          }
        }
    </script>
</body>
</html>