<html>
<head>
    <title>Add Teacher</title>
</head>
<body>
    <h1 style="text-align: center">Add Teachers Data</h1>
    <a href="/teachers"><h3  style="text-align: center">show all data</h3></a>
    <form action="/teachers/add-teacher" method="POST">
        First Name:<br>
        <input type="text" name="first_name" style="width:50%">
        <br>
        Last Name:<br>
        <input type="text" name="last_name" style="width:50%">
        <br>
        Email:<br>
        <input type="text" name="email" style="width:50%">
        <br>
        <input type="submit" value="Add Teacher">
    </form>
</body>
</html>
