<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ERROR</title>
  <style>
    * {
      text-align: center;
      margin: 0 auto 0 auto;
    }

    body {
      background: #F5F5F5;
    }

    #container {
      width: 960;
    }

    h3.bold {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      text-align: center;
      text-transform: capitalize;
      font-size: 18px;
      clear: both;
      color: #000000;
      margin-top: 20px;
    }

    .underline {
      width: 80px;
      height: 2px;
      background: #4A90E2;
      margin: 14px auto;
    }

    p.body {
      display: block;
      font-family: 'Varela Round', 'Helvetica Neue', Arial, sans-serif;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      clear: both;
      color: rgba(0, 0, 0, 0.75);
    }

    .btn {
      border: 1px solid #4A90E2;
      border-radius: 3px;
      background: #ffffff;
      color: #4A90E2;
      font-family: 'Varela Round', 'Helvetica Neue', Arial, sans-serif;
      font-size: 16px;
      display: block;
      padding: 15px 50px 15px 50px;
      margin-top: 50px;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      outline: none;
    }
  </style>
</head>

<body>
  <div id="container">
    <!-- container starts -->

    <h3 class="bold">Internal Server Error</h3>
    <div class="underline"></div>
    <p class="body">Sorry! something went wrong at our side.</p>
    <button type="button" class="btn">Try Again</button>
  </div>
  <!-- container ends -->
</body>

</html>