<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header %>
      <div class="jumbotron">
        <h2>Welcome to Express Sequelize CRUD</h2>
        <p>AFIF - Hacktiv8 - Week3 - Weekend
          <p>
      </div>
  </div>

</body>

<footer>
  <% include ./partials/footer %>
</footer>

</html>
