<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show table</title>
    <style>
        li{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>All Table</h1>
        <nav>
            <ul>
                <li><a href="/students">Show table Student</a></li>
                <li><a href="/teachers">Show table Teacher</a></li>
                <li><a href="/subjects">Show table Subject</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>