<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h1>SCHOOL WEB PAGE</h1>
    <div class="list-group">
        <a href="/teachers" class="list-group-item">List Teacher</a>
        <a href="/students" class="list-group-item">List Student</a>
        <a href="/subjects" class="list-group-item">List Subject</a>
      </div>
  </div>
</body>

</html>