<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Student Form</h1>
    <br>
    <form class="" action="" method="post">
      First Name  : <br>
      <input type="text" name="firstName"><br>
      Last Name   : <br>
      <input type="text" name="lastName"><br>
      Gender      : <br>
      <input type="text" name="gender"><br>
      Birthday    : <br>
      <input type="text" name="birthday"><br>
      <input type="submit">
    </form>
  </body>
</html>
