<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0; padding: 0;">

    <h2 style="text-align: center; margin-top: 300px">EDIT SUBJECTS DATA</h2>
    <div style="text-align:center">
        <a href="/subjects">show all data</a>
    </div> <br>
    <form style="text-align: center" action="/subjects/edit/<%= subject.id %>" method="POST">
        First Name <br> <input style="width: 50%" type="text" name="subject_name" value="<%= subject.subject_name %>"> <br>
        <input style="width: 30%; background-color: blue;" type="submit" onclick="return alert('Data edited!')" value="Edit Subject">
    </form>
</body>
</html>