<html>
  <head>
    <title>Teacher Edit Data</title>
  </head>
  <body>
    <h1 align="center">Edit Teacher Data</h1>
    <div style="text-align:center">
      <a href="/teachers">show all data</a>
    </div>
    <form action="/teachers/edit/<%= teacher.id %>" method="POST">
      First name: <br/>
      <input type="text" name="firstName" value="<%= %>"> <br/>
      Last name: <br/>
      <input type="text" name="lastName" value="<%=  %>"> <br/>
      Email: <br/>
      <input type="text" name="email" value="<%= teacher.email %>"> <br/> <br/>
      <input type="submit" onclick="return alert('Data edited!')" value="Edit Teacher">
    </form>
  </body>
</html>