<html>
  <head>
    <title>Student Form</title>
  </head>
  <body>
    <form action="/student/add-student" method="POST">
      First name: <br/>
      <input type="text" name="firstname"> <br/>
      Last name: <br/>
      <input type="text" name="lastname"> <br/>
      Email: <br/>
      <input type="text" name="email"> <br/> <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
