<html>
  <head>
    <title>Subject Form</title>
  </head>
  <body>
    <form action="/subject/add-subject" method="POST">
      Subject name: <br/>
      <input type="text" name="subjectname"> <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
