<html>
  <head>
    <title>Teacher Form</title>
  </head>
  <body>
    <form action="/teacher/edit-teacher/<%= teacher.id %>" method="POST">
      First name: <br/>
      <input type="text" name="firstname" value="<%= teacher.first_name %>"> <br/>
      Last name: <br/>
      <input type="text" name="lastname" value="<%= teacher.last_name %>"> <br/>
      Email: <br/>
      <input type="text" name="email" value="<%= teacher.email %>"> <br/> <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
